<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <span class="navbar-brand nev">HiTech</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <button
            class="btn btn-dark"
            routerLink="/home"
            [style]="this.auth.showBtn ? 'display: block' : 'display: none'"
          >
            Home
          </button>
        </li>&nbsp;
        <li class="nav-item">
            <button
            class="btn btn-dark"
            *ngIf="userType === 'anilchaudhary2011@gmail.com'"
            routerLink="/home/summary"
            [style]="this.auth.showBtn ? 'display: block' : 'display: none'"
          >
            Summary
          </button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" [style]="this.auth.showBtn ? 'display: block' : 'display: none'">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>&nbsp;
      <div>
        <button
          class="btn btn-dark"
          (click)="logout()"
          [style]="this.auth.showBtn ? 'display: block' : 'display: none'"
        >
          <span class="m1">Log Out</span>
        </button>
      </div>
    </div>
  </nav>