<!-- <div style="height: 5vh">
  <button
    class="btn btn-dark"
    (click)="logout()"
    [style]="this.auth.showBtn ? 'display: block' : 'display: none'"
  >
    <span class="m1">Log Out</span>
  </button>
</div>

<div class="basic" color="basic">
  <div>
    <button
      class="btn btn-dark"
      routerLink="/home"
      [style]="this.auth.showBtn ? 'display: block' : 'display: none'"
    >
      Home
    </button>
    <button
      class="btn btn-dark"
      *ngIf="userType === 'anilchaudhary2011@gmail.com'"
      routerLink="home/summary"
      [style]="this.auth.showBtn ? 'display: block' : 'display: none'"
    >
      Summary
    </button>
  </div>
</div> -->
<router-outlet></router-outlet>
